<!-- Page Content -->
<div class="container">

    <!-- Heading Row -->
    <div class="row">
        <div class="col-md-8" style="background-color:black;">
            <!--
                <img class="img-responsive img-rounded" src="http://placehold.it/900x350" alt="">
                -->
            <img class="img-responsive circle" src="http://mynewbootapp.azurewebsites.net/small-business/images/redbone.jpg" alt="">
        </div>
        <!-- /.col-md-8 -->
        <div class="col-md-4">
            <h2 style="color:firebrick;">Red Bone Guitar Boutique Administration System</h2>
            <p class="justify">Welcome to the customer administration system for Red Bone Guitar Boutique company. This administration system provides administrators with an easy and intuitive interface to manage their customer information.
            </p>
            <br />
            <a class="btn btn-primary btn-md" href="/customer">List of customers</a> |
            <a class="btn btn-primary btn-md" href="/addcustomer">Add new customers</a>
        </div>
        <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->

    <hr>

    <!-- Call to Action Well -->
    <div class="row">
        <div class="col-lg-12">
            <div class="well text-center">
                <strong><em>We are happy to serve customers worldwide, we can offer you the best gear at a 
                        great low price.</em></strong>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <!-- Content Row -->
    <div class="row">
        <div class="col-md-4">
            <h2 style="color:firebrick;">Lessons</h2>
            <p>
                <img class="img-responsive circle" src="http://mynewbootapp.azurewebsites.net/small-business/images/guitar.jpg" alt="">
            </p>
            <p class="justify">Learning to play music can be an amazing, life-changing experience. That's why we've designed our studios to be creative, comfortable places for learning and growing. Our fully-engaging lesson program provides a solid academic foundation and
                at the same time, encourages students to express themselves through music and helps them discover their inner artist.
            </p>
            <a class="btn btn-primary btn-sm" href="#">More Info</a>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4">
            <h2 style="color:firebrick;">Effects</h2>
            <p>
                <img class="img-responsive circle" src="http://mynewbootapp.azurewebsites.net/small-business/images/effect1.jpg" alt="">
            </p>
            <p class="justify">Effects pedals, or stompboxes, are effects units designed to sit on the floor or a pedal board and be turned on and off with the user's feet.</p>
            <a class="btn btn-primary btn-sm" href="#">More Info</a>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4">
            <h2 style="color:firebrick;">Instruments</h2>
            <p>
                <img class="img-responsive circle" src="http://mynewbootapp.azurewebsites.net/small-business/images/instrument2.jpg" alt="">
            </p>
            <p class="justify">For 30 years Red Bone has specialized in buying, selling and trading new and used musical equipment all day, every day. You will find a huge variety of cool, new or used gear in our stores and online. To ensure that we are providing the best
                customer experience in our industry, our gear is inspected, cleaned, and prepped so the gear you’re buying is always in great working condition.</p>
            <a class="btn btn-primary btn-sm" href="#">More Info</a>
        </div>
        <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->
    <hr>
    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Carlos Alberto Martinez Martin del Campo © - 2017</p>
            </div>
        </div>
    </footer>
</div>
<!-- /.container -->


<!--
<input type="text" [(ngModel)]="service_to_save">
<button (click)="AddService()">Add Service</button>
<h3>Available Services</h3>
<ul>
    <li *ngFor="let service of list_services; let i = index">
        {{service}} - <button (click)="deleteFromList(i)">Delete</button>
    </li>
</ul>
-->